html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    border: 0px;
}
.titlebox{
  display: flex;
  width: 100%;
  height: auto;
  background-color: grey;
  justify-content: center;
  text-align: center;
}
#workbox{
  margin: 0;
  padding: 0;
  width: initial;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: blue;
  justify-content: space-around;
  text-align: center;
}
.questionbox{
  display: flex;
  margin-top: 30px;
  width: 100%;
  height: auto;
  background-color: pink;
  justify-content: center;
  text-align: center;
}
#question{
font-size: 75px;
}
#choicesbox{
display: flex;
justify-content: center;
align-items: flex-end;
}
#buttonbox{
  display: flex;
  align-items: center;
  align-content: space-between;
  margin-top: 150px;
  width: auto;
  height: auto;
  padding: 100px;
  flex-direction: column;
  flex-wrap: nowrap;
}
#startbtn,#button1,#button2,#button3 {
  width: max-content;
  height: max-content;
  padding-inline: 450px;
  padding-block: 50px;
  margin: 20px;
  border: 1.5px solid;
  border-radius: 50%;
  font-size: 50px;
  text-wrap: wrap;
  text-align-last: center;
}
#conjtablebox{
display: flex;
flex-direction: column;
min-height: 500px;
min-width: 900px;
width: auto;
height: 100%;
justify-content: center;
align-items: center;
padding: 20px;
}
td, th,tr, tbody {
background-color: antiquewhite;
font-size: 30px;
border: 2px green solid;
padding: 5px;
padding-top: 20px;
padding-bottom: 20px;
}
#start{
background-color: coral;
width: 100%;
height: auto;
justify-content: center;
align-items: center;
}
#statsnstart{
display: flex;
flex-direction: row;
align-items: center;
width: auto;
height: auto;


}
#startbtntop{
font-size: 20px;
height: min-content;
padding: 10px;

}
#ranswer{
font-size: 20px;
border: 2px solid darkgreen;
background-color: green;
height: min-content;
padding: 10px;
}
#wanswer{
font-size: 20px;
border: 2px solid darkred;
background-color: red;
height: min-content;
padding: 10px;
}
